[submodule "libraries/Can_messages"]
	path = libraries/Can_messages
	url = https://github.com/UAlberta-EcoCar/Can_messages.git
[submodule "libraries/ArduinoTimer"]
	path = libraries/ArduinoTimer
	url = https://github.com/UAlberta-EcoCar/ArduinoTimer.git
